body {
    text-align: center;
    padding: 5%;
}

.head {
    background-color: darkgoldenrod;
    color: whitesmoke;
}

h3 {
    text-align: left;
    padding: 20px;
}

.tableHead {
    background-color: burlywood;
}
